#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a computer system. It allows users to efficiently manage, retrieve, and manipulate large amounts of information. Databases provide a way to store data persistently, ensuring its durability and availability for various applications.

SQL Databases:

    SQL (Structured Query Language) databases are based on the relational model.
    They use SQL as the standard language for defining, manipulating, and querying the data. 
    SQL databases consist of tables with rows and columns, where each row represents a record, and each column represents a data attribute. 
    These databases ensure data integrity and enforce relationships between tables through the use of primary and foreign keys. 
    SQL databases are known for their ACID (Atomicity, Consistency, Isolation, Durability) properties, which guarantee transactional reliability. 
    Some popular SQL databases include MySQL, Oracle Database, PostgreSQL, and Microsoft SQL Server.

NoSQL Databases:

    NoSQL (Not Only SQL) databases adopt a non-relational approach to data storage and retrieval. 
    They provide flexible schema designs that can handle unstructured and semi-structured data. 
    NoSQL databases are designed to scale horizontally and handle large volumes of data with high availability and performance. 
    They support a variety of data models, including key-value pairs, wide-column stores, document stores, and graph databases. 
    NoSQL databases prioritize scalability, flexibility, and distributed architectures over strict data consistency. 
    Examples of popular NoSQL databases include MongoDB, Cassandra, Redis, and Neo4j.

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure and schema of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints. Here's an explanation of commonly used DDL statements and their purposes:

1.CREATE:
The CREATE statement is used to create new database objects. For example, to create a table named "Employees" with columns for employee ID, name, and salary, you would use the following SQL statement:

    CREATE TABLE Employees (
        EmployeeID INT,
        Name VARCHAR(50),
        Salary DECIMAL(10, 2)
    );
    
This statement creates a new table named "Employees" with three columns: "EmployeeID" of type INT, "Name" of type VARCHAR with a maximum length of 50 characters, and "Salary" of type DECIMAL with a precision of 10 and a scale of 2.

2.DROP:
The DROP statement is used to remove database objects. For instance, to drop the "Employees" table created earlier, you would use the following SQL statement:

    DROP TABLE Employees;
    
This statement removes the "Employees" table and deletes all the associated data and indexes.

3.ALTER:
The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns, constraints, or indexes. For example, to add a new column named "Department" to the "Employees" table, you would use the following SQL statement:

    ALTER TABLE Employees
    ADD Department VARCHAR(50);
    
This statement adds a new column named "Department" of type VARCHAR with a maximum length of 50 characters to the existing "Employees" table.

4.TRUNCATE:
The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. Unlike the DROP statement, which deletes the entire table, TRUNCATE only removes the data. For example, to remove all records from the "Employees" table, you would use the following SQL statement:

    TRUNCATE TABLE Employees;
    
This statement deletes all rows from the "Employees" table, but the table structure remains intact.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate and retrieve data within a database. DML statements are used to insert, update, and delete data in database tables. Here's an explanation of commonly used DML statements and their purposes:

1.INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the values for each column or insert data from another table. For example, to insert a new employee into the "Employees" table with specific values for the columns, you would use the following SQL statement:

    INSERT INTO Employees (EmployeeID, Name, Salary)
    VALUES (1, 'John Doe', 50000);
This statement inserts a new row into the "Employees" table with an EmployeeID of 1, Name as 'John Doe', and Salary of 50000

2.UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to update specific columns of one or more rows based on specified conditions. For example, to update the salary of an employee with EmployeeID 1 in the "Employees" table, you would use the following SQL statement:

    UPDATE Employees
    SET Salary = 55000
    WHERE EmployeeID = 1;
This statement updates the Salary column of the employee with EmployeeID 1 to 55000.

3.DELETE:
The DELETE statement is used to remove one or more rows from a table based on specified conditions. It allows you to selectively delete specific records or delete all records from a table. For example, to delete an employee with EmployeeID 1 from the "Employees" table, you would use the following SQL statement:

    DELETE FROM Employees
    WHERE EmployeeID = 1;
This statement deletes the row(s) from the "Employees" table where the EmployeeID is 1.

#### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve and query data from a database. The primary DQL statement is SELECT, which allows you to specify the columns, conditions, and sorting criteria to fetch data from one or more tables. Here's an explanation of the SELECT statement and an example:

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns to include in the result set, apply conditions to filter the data, and specify sorting order. The basic syntax of a SELECT statement is as follows:

    SELECT column1, column2, ...
    FROM table_name
    WHERE condition
    ORDER BY column1 ASC/DESC;

Example:
Let's consider a table called "Employees" with columns such as EmployeeID, Name, Age, and Department. To retrieve the names of all employees in the Marketing department who are older than 30, sorted by their ages in descending order, the following SELECT statement can be used:

    SELECT Name
    FROM Employees
    WHERE Department = 'Marketing' AND Age > 30
    ORDER BY Age DESC;
This statement retrieves the names of employees

#### Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a column or a set of columns in a database table that uniquely identifies each row in the table. It serves as a unique identifier for the records in the table and ensures data integrity and consistency. Here are some key points about primary keys:

Uniqueness: Each value in the primary key column(s) must be unique, meaning no two rows can have the same primary key value.

Non-nullability: A primary key column cannot contain null values. Each row must have a valid value for the primary key.

Indexed: The primary key is typically indexed, which allows for faster searching and retrieval of data.

Constraints: Primary keys can be used as references (foreign keys) in other tables to establish relationships between tables.

Foreign Key:

A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship. The foreign key in one table refers to the primary key in another table. Here are some key points about foreign keys:

Relationship: The foreign key represents a relationship between two tables, where the referencing table (child table) includes a column that refers to the referenced table (parent table).

Data Integrity: Foreign keys enforce referential integrity, meaning the values in the foreign key column(s) must exist in the referenced table's primary key column(s).

Cascading Actions: Foreign keys can have cascading actions associated with them, such as ON DELETE and ON UPDATE. These actions define the behavior when a referenced row is deleted or updated. For example, CASCADE will automatically delete or update related rows in the child table.

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


mydb = mysql.connector.connect(

    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = mydb.cursor()

cursor.execute("SELECT * FROM your_table")
result = cursor.fetchall()

for row in result:
    print(row)

cursor.close()
mydb.close()

The cursor() method creates a cursor object, which acts as a pointer to the result set of a query. It provides methods to execute SQL queries and retrieve the results.

The execute() method of the cursor object is used to execute SQL queries. You pass the query as a parameter to this method. The method sends the query to the MySQL server for execution. It can handle various types of SQL statements like SELECT, INSERT, UPDATE, DELETE, etc. For SELECT statements, you typically follow execute() with methods like fetchall() or fetchone() to retrieve the results.

#### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows the following sequence:

    SELECT: The SELECT clause specifies the columns to retrieve from the table.
    FROM: The FROM clause specifies the table or tables from which to retrieve the data.
    JOIN: If multiple tables are involved, JOIN clauses are used to specify how the tables are related.
    WHERE: The WHERE clause filters the rows based on specified conditions.
    GROUP BY: The GROUP BY clause is used to group rows based on specific columns.
    HAVING: The HAVING clause filters the grouped rows based on specified conditions.
    ORDER BY: The ORDER BY clause sorts the result set based on specified columns.
    LIMIT/OFFSET: The LIMIT and OFFSET clauses are used to restrict the number of rows returned or skip a certain number of rows.